.main-layout {
  display: flex;
  height: 100vh;
  width: 100vw;

  grid-template-areas: "sidebar mainbar";
}

.mainbar {
  grid-area: mainbar;
}

.sidebar {
  grid-area: sidebar;
  width: clamp(120px, 30%, 300px);
  background-color: #ffaaaa20;
}

.get-started {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
