.main-layout {
  display: grid;
  grid-template-columns: 5rem clamp(120px, 30%, 300px) auto;
  height: 100vh;
  width: 100vw;

  grid-template-areas: "navbar sidebar mainbar";
}

.navbar {
  grid-area: navbar;
}

.mainbar {
  grid-area: mainbar;
  /* width: 100%; */
}

.sidebar {
  grid-area: sidebar;
  /* background-color: var(--inverse-surface);
  color: var(--inverse-on-surface); */
  background-color: var(--surface-container-low);
  color: var(--on-surface);
  /* border-right: 1px solid var(--primary);
  border-left: 1px solid var(--primary); */
}

.get-started {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
