.toolbar {
  padding-inline: 1em;
  padding-block: 0.5em;
  /* background-color: var(--background); */
  background-color: var(--surface-container-low);
}

#mainbar-target > * {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

#mainbar-target {
  height: 100%;
}

.toolbar-items {
  display: flex;
  gap: 1em;
}

.toolbar-items > * {
  margin: 0;
}

.main-editor-wrapper {
  height: 100%;
}
