.main-layout {
  --mainbar-width: auto;
  display: grid;
  grid-template-columns: 5rem var(--sidebar-width, clamp(180px, 30%, 300px)) var(
      --mainbar-width
    );
  transition: grid-template-columns 0.15s ease-out;
  height: 100vh;
  width: 100vw;

  grid-template-areas: "navbar sidebar mainbar";
}

@media screen and (max-width: 400px) {
  .main-layout:not(.no-sidebar) {
    --sidebar-width: auto;
    --mainbar-width: 0;
  }

  .main-layout:not(.no-sidebar) .mainbar {
    display: none;
  }

  .no-sidebar {
    --mainbar-width: 1fr;
  }
}

.main-layout.no-sidebar {
  --sidebar-width: 0;
}

.main-layout.no-sidebar .sidebar :is(p) {
  opacity: 0;
  /* transition: opacity 0.05s; */
}

.main-layout > * {
  max-height: 100vh;
}

.navbar {
  grid-area: navbar;
}

.mainbar {
  grid-area: mainbar;
  /* width: 100%; */
}

.sidebar {
  grid-area: sidebar;
  /* background-color: var(--inverse-surface);
  color: var(--inverse-on-surface); */
  background-color: var(--surface-container-low);
  color: var(--on-surface);
  /* border-right: 1px solid var(--primary);
  border-left: 1px solid var(--primary); */
}

.get-started {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}
