.note-editor textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  padding-inline: 0.7rem;
  padding-block: 0.7rem;
  font-family: Consolas, "Courier New", monospace;
  background-color: var(--surface-bright);
  /* background-color: var(--background);
  border-top: 1px solid var(--outline);
  border-left: 1px solid var(--outline); */
}
