.note-list li {
  margin-block: 2px;
  cursor: pointer;
}

.note-list li > * {
  width: 100%;
}

.note-list li > * > * {
  width: 100%;
  margin-inline: 0.3rem 0;
  padding-inline: 0.3rem 0.1rem;
  padding-block: 0.2rem;
  border-radius: 0.4em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-list li a.active > * {
  background-color: var(--secondary-container);
}

/* This is needed because the focusable element !== the one we apply the wave effect to */
.note-list a:focus-visible .wave::after {
  background-size: 15000%;
  opacity: 1;
  transition: var(--speed2) background-size linear;
}

.note-list li > *:focus-visible > * {
  outline: var(--primary) solid 2px;
  outline-offset: 2px;
}
