.sidebar-layout {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  position: relative; /* So that FABs stay within this container */
}

.sidebar-layout > * {
  padding-inline: 0.3em;
}

.large-message {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.sidebar-layout p {
  margin: 0;
}

.sidebar-layout h2 {
  padding-block: 0.1em;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}

.sidebar-layout h2.sticky {
  position: sticky;
  top: 0;
  z-index: 1100;
}

.sidebar-fab {
  position: absolute;
  z-index: 2000;
  bottom: 1em;
  width: 100%;
  display: flex;
}

.sidebar-fab > button {
  margin-inline: auto;
}
