.sidebar-layout {
  max-height: 100vh;
  overflow-y: auto;
}

.sidebar-layout > * {
  padding-inline: 0.3em;
}

.large-message {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.sidebar-layout h2 {
  padding-block: 0.1em;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
  background-color: var(--surface-container-high);
  color: var(--on-surface);
}

.sidebar-layout h2.sticky {
  position: sticky;
  top: 0;
  z-index: 1100;
}
