html {
  box-sizing: border-box;
  color-scheme: light dark;
}

body {
  --focus-outline: var(--primary) solid 0.4em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monaco, Consolas, "Courier New", monospace;
}

p {
  font-size: 1rem;
}

*:focus-visible {
  z-index: 1000;
}

button:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 3px;
}

nav > a:focus-visible {
  outline: var(--focus-outline);
  outline-offset: 3px;
  border-radius: 6px;
}

.viewbar {
  overflow-y: auto;
}
